'.source.js':
  editor:
    sane:
      decreaseIndentPattern: "^\\s*[\\}\\]\\)]"
      decreaseNextIndentPattern: "[\\}\\]\\)]"
      increaseIndentPattern: "[\\{\\[\\(]"

'.source.c, .source.cpp, .source.objc, .source.objcpp':
  editor:
    sane:
      # increaseIndentPattern: '(?x)
      #    [\\{\\(]
      #   |^ \\s* (public|private|protected): \\s* $
      #   |^ \\s* @(public|private|protected) \\s* $
      #   |^ \\s* \\{ \\} $
      #   '
      # decreaseIndentPattern: '(?x)
      #    ^ \\s* (\\s* /[*] .* [*]/ \\s*)* \\}
      #   |^ \\s* (\\s* /[*] .* [*]/ \\s*)* \\)
      #   |^ \\s* (public|private|protected): \\s* $
      #   |^ \\s* @(public|private|protected) \\s* $
      #   '
      # decreaseNextIndentPattern: '(?x)
      #    [\\}\\)]
      #   '
      decreaseIndentPattern: "^\\s*[\\}\\]\\)]"
      decreaseNextIndentPattern: "[\\}\\]\\)]"
      # |^ \\s* (public|private|protected): \\s* $
      # |^ \\s* @(public|private|protected) \\s* $"
      increaseIndentPattern: "[\\{\\[\\(]"
      # |^ \\s* (public|private|protected): \\s* $
      # |^ \\s* @(public|private|protected) \\s* $"

'.source.python':
  editor:
    sane:
      increaseIndentPattern: '[\\[\\(]|^\\s*(class|def|elif|else|except|finally|for|if|try|with|while)\\b.*:\\s*$'
      decreaseIndentPattern: '^\\s*[\\]\\)]|^\\s*(elif|else|except|finally)\\b.*:'
      decreaseNextIndentPattern: '[\\]\\)]|^\\s*(return|elif|else|except|finally)\\b.*'
